/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
canvas,
svg,
source {
  display: block;
  max-width: 100%;
}

/* Colors */

:root {
  --accent-color: #292929; /* Graphite */
  --bg-color: #e8e8e8; /* Alabaster Gray */
  --border-radius: 12px;
}

body {
  font-family: "Inter", sans-serif;
}

form {
  display: grid;
  gap: 1em;
}
