/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
select {
  font: inherit;
}

picture,
source,
img {
  display: block;
  max-width: 100%;
}

/* Fonts */

@font-face {
  font-family: "Figtree";
  src:
    url("../assets/fonts/OpenSans-Regular.woff") format("woff2"),
    url("../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Color */

:root {
  --accent-color: hsl(284, 56%, 36%);
  --bg-color: hsl(0, 0%, 96%);
}

body {
  font-family: "Figtree", sans-serif;
}

form {
  display: grid;
  gap: 1em;
}

.education {
  display: grid;
  gap: 1em;
}
